{% extends "base.html" %}
{% load static %}
{% load extra_filter %}
{% block title %}S-HERO WPC{% endblock %}
<meta name="viewport" content="width=device-width, initial-scale=1">
{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  
  <!-- Content Row -->
  <div class="row">
    <!-- 현재 동작중인 헬멧 수 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">작동중인 헬멧</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">1개</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-calendar fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    
    <!-- 작업 진행률 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-info shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-info text-uppercase mb-1">이번 주 강조사항</div>
              <div class="row no-gutters align-items-center">
                <b>권대장님 생신!! </b>
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 작업장 위험도 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-warning shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">오늘의 식단</div>
              <b>맛있는 제육볶음 </b>
            </div>
            <div class="col-auto">
              <i class="fas fa-comments fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Content Row -->
  <div class="row">
    <!-- Area Chart -->
    <div class="col-xl-8 col-lg-7">
      <div class="card shadow mb-4">
        <!-- 센서 통계 헤드 -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <a class="m-0 font-weight-bold text-primary" href="statistics">센서 통계</a>
          <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
              <div class="dropdown-header">Dropdown Header:</div>
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>
        <!-- 센서 그래프 바디 -->
        <!-- bg- success 초록,\ warning 주황, 없음: 파랑, ,info, 민트, danger 빨강 -->
        <div class="card-body">
          <!-- 그래프 영역 -->

          </div>
          </div>
        </div>
        </div>
          
          <!--  혁수가 끄적댄 코드-->
        </div>
      </div>
    
  </div>
</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->
{% endblock %}
{% block javascript %}
  <!-- Page level plugins -->
  <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>

  <!-- Page level custom scripts -->
  <script src="{% static 'js/demo/chart-area-demo.js' %}"></script>
  <script src="{% static 'js/demo/chart-pie-demo.js' %}"></script>
{% endblock %}
