{% extends "base.html" %}
{% load static %}
{% load extra_filter %}
{% block title %}S-HERO WPC - 차량 충전 - {% endblock %}
  <!-- Custom styles for this page -->
  <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> 
{% block content %}
<div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body">
          <div class="text-center" style="font-weight: 800;">
            차량 충전
          </div>
          <div class="text-center" style="font-weight: 700; font-size: 500%;">
            <b>{{node.node_name}}</b>
          </div>
          <div class="text-center">
            <div class="text-center">차량 주차 상태</div>
            <br>
            {% if node.is_car_exist %}
            <b>주차중</b>
            {% else %}
            <b>비어있음</b>
            {% endif %}
          </div>
          <br>
          <div class="text-center">
            <a href="ps" class="btn btn-success btn-icon-split">
              <span class="icon text-white-50">
                <i class="fas fa-arrow-right"></i>
              </span>
              <span class="text">주차시작</span>
            </a>
          </div>
      </div>
    </div>
</div>
    
{% endblock %}
{% block javascript %}
  <!-- Page level plugins -->
  <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

  <!-- Page level custom scripts -->
  <script src="{% static 'js/demo/datatables-demo.js' %}"></script>
  
{% endblock %}
